@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');

@import "tailwindcss"; 
@import "tw-animate-css"; 

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.0958 0 265.755);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);

  --font-sans: 'JetBrains Mono', ui-monospace, monospace;
  --font-serif: 'JetBrains Mono', ui-monospace, monospace;
  --font-mono: 'JetBrains Mono', ui-monospace, monospace;

  --radius: 0.625rem;
}

.dark {
  --background: var(--ink-black-950);
  --foreground: var(--ghost-white-50);
  --card: var(--deep-space-blue);
  --card-foreground: var(--ghost-white-50);
  --popover: var(--yale-blue);
  --popover-foreground: var(--ghost-white-50);
  --primary: var(--blue-grey);
  --primary-foreground: var(--ghost-white-50);
  --secondary: var(--baltic-blue);
  --secondary-foreground: var(--ghost-white-50);
  --muted: var(--ink-black-800);
  --muted-foreground: var(--ghost-white-200);
  --accent: var(--powder-blue);
  --accent-foreground: var(--ghost-white-50);
  --destructive: var(--vibrant-coral);
  --destructive-foreground: var(--ghost-white-50);
  --border: var(--baltic-blue);
  --input: var(--blue-grey);
  --ring: var(--ghost-white-50);
}

.dark {
 --ink-black-950: oklch(0.1693 0.0245 265.1600);
 --ink-black-800: oklch(0.2254 0.0257 261.0100);
 --ghost-white-50: oklch(0.9636 0.0086 264.5200);
 --ghost-white-200: oklch(0.7967 0.0083 271.3300);
 --deep-space-blue: oklch(0.3084 0.0507 253.7600);
 --yale-blue: oklch(0.4001 0.0725 254.4700);
 --blue-grey: oklch(0.6593 0.0863 253.4100);
 --baltic-blue: oklch(0.4892 0.0918 253.8900);
 --powder-blue: oklch(0.8316 0.0402 253.0400);
 --vibrant-coral: oklch(0.7022 0.1892 22.2279);
}

@theme inline {
  --header-height: 9.25rem;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --header-height-sm: calc(var(--header-height) - 0.75rem);
  --header-height-md: calc(var(--header-height) -  0.35rem);
  --header-height-lg: var(--header-height);

  --spacing-section-height-lg: calc(100vh-var(--header-height-lg));
  --spacing-section-height-sm: calc(100vh-var(--header-height-sm));

  --spacing-header-height-sm: var(--header-height-sm);
  --spacing-header-height: var(--header-height);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* ANIMATIONS */

@theme inline {
  --animate-meteor: meteor 5s linear infinite;
  @keyframes meteor {
    0% { transform: rotate(var(--angle)) translateX(0); opacity: 1; }
    70% { opacity: 1; }
    100% { transform: rotate(var(--angle)) translateX(-1000px); opacity: 0; }
  }

  --animate-pulse-ring: pulse-ring var(--duration) ease-out infinite;
  @keyframes pulse-ring {
    0% { box-shadow: 0 0 0 0 var(--pulse-color); }
    100% { box-shadow: 0 0 0 8px transparent; }
  }

  --animate-shine: shine var(--duration) infinite linear;
  @keyframes shine {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    to { background-position: 0% 0%; }
  }

  --animate-cell-ripple: cell-ripple var(--duration, 1000ms) ease-out forwards;
  @keyframes cell-ripple {
    0% { opacity: 0.4; }
    50% { opacity: 0.8; }
    100% { opacity: 0.4; }
  }

  --animate-spin-around: spin-around calc(var(--speed, 3s) * 2) linear infinite;
  @keyframes spin-around {
    0% { transform: translateZ(0) rotate(0); }
    15%, 35% { transform: translateZ(0) rotate(90deg); }
    65%, 85% { transform: translateZ(0) rotate(270deg); }
    100% { transform: translateZ(0) rotate(360deg); }
  }

  --animate-magicslide: magicslide var(--speed, 3s) ease-in-out infinite alternate;
  @keyframes magicslide {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }
}

@custom-variant data-open {
	&:where([data-state="open"]), &:where([data-open]:not([data-open="false"])) {
		@slot;}}

@custom-variant data-closed {
	&:where([data-state="closed"]), &:where([data-closed]:not([data-closed="false"])) {
		@slot;}}

@custom-variant data-checked {
	&:where([data-state="checked"]), &:where([data-checked]:not([data-checked="false"])) {
		@slot;}}

@custom-variant data-unchecked {
	&:where([data-state="unchecked"]), &:where([data-unchecked]:not([data-unchecked="false"])) {
		@slot;}}

@custom-variant data-selected {
	&:where([data-selected]) {
		@slot;}}

@custom-variant data-disabled {
	&:where([data-disabled="true"]), &:where([data-disabled]:not([data-disabled="false"])) {
		@slot;}}

@custom-variant data-active {
	&:where([data-state="active"]), &:where([data-active]:not([data-active="false"])) {
		@slot;}}

@custom-variant data-horizontal {
	&:where([data-orientation="horizontal"]) {
		@slot;}}

@custom-variant data-vertical {
	&:where([data-orientation="vertical"]) {
		@slot;}}

@utility no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;}}
